body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #FFFF00;
  color: #0A0A0A;
}

header {
  background: #0A0A0A;
  color: white;
  padding: 2em;
  text-align: center;
}

section {
  padding: 2em;
}

footer {
  text-align: center;
  padding: 1em;
  background: #eee;
  font-size: 0.9em;
}
